/***** General Styles *****/
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

/***** Subscribers Table *****/
table {
  width: 100%;
}

thead {
  text-align: left;
}
